/**
 * WEBSITE: https://themefisher.com
 * TWITTER: https://twitter.com/themefisher
 * FACEBOOK: https://facebook.com/themefisher
 * GITHUB: https://github.com/themefisher/
 */

@media not all and (min-width: 1024px) {

    #nav-menu {
        display: block;
        max-height: 0px;
        overflow: hidden;
        transition-property: max-height;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.54, 0.05, 0.26, 0.47);
    }

    #nav-menu.active {
        max-height: 1000px;
    }
}

.header {
    position: sticky;
    top: 0px;
    z-index: 50;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

@media (min-width: 1024px) {

    .header {
        background-color: transparent;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
}
.header-sticky {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    box-shadow: 0px 10px 45px rgba(0, 0, 0, 0.02);
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity));
}
.navbar-brand image {
    max-height: 100%;
    max-width: 100%;
}

.navbar-nav {
    text-align: center;
}

@media (min-width: 1024px) {

    .navbar-nav {
        text-align: left;
    }
}

.navbar-toggler {
    cursor: pointer;
    border-radius: 0.375rem;
    border-width: 1px;
    border-color: rgb(34 34 34 / 0.3);
    padding: 0.25rem;
}

@media (min-width: 1024px) {

    .navbar-toggler {
        display: none;
    }
}

.nav-link {
    position: relative;
    display: block;
    padding: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.nav-link:hover {
    --tw-text-opacity: 1;
    color: rgb(254 96 25 / var(--tw-text-opacity));
}

@media (min-width: 768px) {

    .nav-link {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}

@media (min-width: 1024px) {

    .nav-link {
        display: inline-block;
    }

    .nav-link:hover::after {
        content: var(--tw-content);
        width: 70%;
    }
}
.nav-link:after {
    position: absolute;
    bottom: 0px;
    left: 50%;
    height: 0.125rem;
    width: 0px;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    background-image: linear-gradient(to top left, var(--tw-gradient-stops));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    --tw-content: "";
    content: var(--tw-content);
    background-image: linear-gradient(184.78deg, #fa709a 7.64%, #fee140 120.07%);
}
.nav-link.active {
    position: relative;
}
.nav-link.active::after {
    content: var(--tw-content);
    width: 70%;
}
@media not all and (min-width: 1024px) {

    .nav-link.active::after {
        margin-left: auto;
        margin-right: auto;
        content: var(--tw-content);
        width: 20%;
    }
}
.nav-link .arrow-icon {
    position: relative;
    z-index: -10;
    font-size: 12px;
}

.nav-dropdown {
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-right: 0px;
}
.nav-dropdown .nav-link {
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}
.nav-dropdown .nav-link .arrow-icon {
    margin-left: 6px;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.nav-dropdown-list {
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    max-width: 300px;
    border-radius: 0.5rem;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(254 96 25 / 0.25);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition-duration: 300ms;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
}

@media (min-width: 1024px) {

    .nav-dropdown-list {
        margin-top: 0px;
        min-width: 200px;
        border-width: 1px;
        --tw-bg-opacity: 1;
        background-color: rgb(255 255 255 / var(--tw-bg-opacity));
        --tw-shadow: 0 0.9rem 1.56rem rgb(0,0,0,0.1);
        --tw-shadow-colored: 0 0.9rem 1.56rem var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    }
}

.nav-dropdown-item:not(:last-child) {
    margin-bottom: 0.25rem;
}

.nav-dropdown-link {
    display: block;
    min-width: 150px;
    padding-top: 6px;
    padding-bottom: 6px;
    line-height: 1.25;
    --tw-text-opacity: 1;
    color: rgb(34 34 34 / var(--tw-text-opacity));
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.nav-dropdown-link:hover {
    --tw-text-opacity: 1;
    color: rgb(254 96 25 / var(--tw-text-opacity));
}
.nav-dropdown-link.active {
    --tw-text-opacity: 1;
    color: rgb(254 96 25 / var(--tw-text-opacity));
}

@media screen and (max-width: 1023px) {
  .nav-link,
  .nav-dropdown-link {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
    }
  .arrow-icon {
        margin-left: 0.5rem;
    }
  .nav-dropdown.active > .nav-link .arrow-icon {
    transform: rotate(180deg);
  }
  .nav-dropdown.active .nav-dropdown-list {
        display: block;
    }
  .nav-dropdown-list {
        margin-top: 0px;
        max-height: 0px;
        overflow: hidden;
        padding: 0px;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.54, 0.05, 0.26, 0.47);
    }
  .group.active .nav-dropdown-list {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
    }
  @media not all and (min-width: 1024px) {

        .group.active .nav-dropdown-list {
            max-height: 100vh;
        }
    }
}
@media screen and (min-width: 1024px) {
  .nav-dropdown:hover .nav-link .arrow-icon {
        --tw-rotate: 180deg;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    }
}